*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}
.main{
    background-image: url(./asset/DubaiPlotFinder-Img-1.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 200px;
}
.d1{
    width: 280px;
    font-size: 20px;
}
.d2{
    width: 280px;
    font-size: 20px;
}
p{
    font-size: 20px;
    padding-top: 20px;
}
.ic{
    padding-top: 20px;
}
.in{
    width: 240px;
    height: 35px;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 45px;
}
.bo{
    border: 2px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 45px;
}
.d4{
    width: 300px;
}
.d3{
    width: 300px;
}